attrs==20.3.0
certifi==2020.12.5
chardet==3.0.4
chromedriver==2.24.1
idna==2.10
iniconfig==1.1.1
mock==4.0.3
packaging==20.8
pluggy==0.13.1
py==1.10.0
pyparsing==2.4.7
pytest==6.2.0
requests==2.25.0
selenium==3.141.0
toml==0.10.2
tqdm==4.54.0
uritemplate==3.0.1
urllib3==1.26.2
